<ul class="menu">
    <li><a class="page-link" href="{{ "/" | prepend: site.baseurl }}"><i class="fa fa-home fa-lg"></i> صفحه اصلی</a></li>
    <li><a class="page-link" href="{{ "/schedule/" | prepend: site.baseurl }}"><i class="fas fa-calendar-alt"></i> زمان بندی</a></li>
    <li><a class="page-link" href="{{ "/lectures/" | prepend: site.baseurl }}"><i class="fas fa-book-reader"></i> مطالب ارائه شده</a></li>
	<li><a class="page-link" href="{{ "/assignments/" | prepend: site.baseurl }}"><i class="fas fa-user-graduate"></i> تمرین ها</a></li>
	<li><a class="page-link" href="{{ "/course-materials/" | prepend: site.baseurl }}"><i class="fas fa-book"></i> مواد آموزشی</a></li>
</ul>
