<div>
    [<a title="دانلود PDF" href="
    {% if include.lecture.slides contains '://' %}
      {{ include.lecture.slides }} 
    {% else %}
      {{ include.lecture.slides | prepend: site.baseurl }} 
    {% endif %}" target="_blank">PDF</a>]
    {% if include.lecture.video %}
    [<a title="مشاهده ویدئو" href="
    {% if include.lecture.video contains '://' %}
      {{ include.lecture.video }} 
    {% else %}
      {{ include.lecture.video | prepend: site.baseurl }} 
    {% endif %}" target="_blank">ویدئو</a>]
    {% endif %}
</div>